<div class="logo"><img src="assets/images/logo.png" alt="exago_logo" /></div>
<span><b>TWÓJ WYNIK AUDYTU TO:</b></span>
<div class="Result">
  <img src="assets/images/outunder.png" alt="under" />
  <div class="text">
    <span><b>{{sumpoints}}/{{summaxpoints}}</b></span>
  </div>
</div>
<div class="ResultTxt">
  <span>
    {{Responsetext}}
  </span>
  <br>
  <br>
<span
  >Jeżeli chcesz wykorzystać potencjał tego kanału Social Media, ale nie wiesz
  od czego zacząć, chętnie Ci w tym pomożemy. Skontaktuj się z nami!</span
>
</div>
<div class="btnwrapper">
<a target="_blank" rel="noopener noreferrer" href="https://exago.pl/kontakt/">
<button type="button" class="btn">
  <b> Prośba o kontakt </b>
</button>
</a>
</div>
