<div class="logo"><img src="assets/images/logo.png" alt="exago_logo" /></div>
<span>WITAJ W NASZYM QUIZIE, DZIEKI KTÓREMU ZROBISZ SAMODZIELNIE AUDYT SWOJEGO KONTA NA:</span>
<div class="Result">
  <img src="assets/images/outunder.png" alt="under" />
  <div class="text">
    <span><b>LinkedIn</b></span>
  </div>
</div>
<div class="ResultTxt">
  <span>
PRZED TOBĄ 20 PYTAŃ, KTÓRE PRZEPROWADZĄ CIĘ PRZEZ KLUCZOWE RZECZY!
  </span>
  <br>
  <br>
<span
  ><b>GOTOWY? <br>
NO TO ZACZYNAMY!</b></span
>
</div>
<div class="btnwrapper">
<button type="button" class="btn" (click)="Start()">
  <b> ZACZYNAMY QUIZ! </b>
</button>
</div>
